{% extends 'dashboard/admin/home.html' %}
{% load static %}
{% load humanize %}


{% block header %}بروزرسانی محصول
{% endblock header %}

{% block extra_css %}
  <style>
    #editor {
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 10px;
      min-height: 200px;
    }
  </style>
  {% endblock %}

{% block content %}


<style>
  /* اطمینان از اینکه تگ‌های <strong> و <p> به درستی نمایش داده شوند */
  #description-output p {
    font-size: 16px; /* یا سایز دلخواه خود */
    line-height: 1.6;
  }
  
  #description-output strong {
    font-weight: bold;
  }

  #description-output u {
    text-decoration: underline;
  }

  /* برای اطمینان از اینکه متن‌های دیگر به درستی نمایش داده شوند */
  #description-output {
    font-family: Arial, sans-serif; /* تنظیم فونت */
  }
</style>
<div class="container">
    <div class="col-lg-12">
 
        <!-- Card -->
        <div class="card">
          <!-- Header -->
          <div class="card-header border-bottom">
            <h5 class="card-header-title ">ویرایش محصول</h5>

          </div>
          <!-- End Header -->
      
          <!-- Body -->
          <div class="card-body">
            <form action="." , method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row d-flex ">
                <div class="col-md-6 mb-3">
                  <label for="validationValidInput1">نام محصول</label>
                  <input type="text" class="form-control is-valid" id="id_title" name="name" value="{{ form.name.value }}"
                    placeholder="">
                </div>
                <div class="col-md-6 mb-3">
                  <label for="validationValidInput1">تعداد</label>
                  <input type="text" class="form-control is-valid" id="validationValidInput1" name="stock"
                    value="{{ form.stock.value }}" placeholder="">
                </div>
      
                <div class="col-md-3 mb-3">
                  <label for="validationValidSelect1">وضعیت</label>
                  <select class="form-select is-valid" name="status">
                    <option value="1" {% if form.status.value == 1 %} selected {% endif %}>نمایش</option>
                    <option value="2" {% if form.status.value == 2 %} selected {% endif %}> عدم نمایش</option>
                  </select>
                  <span class="valid-feedback">Valid feedback</span>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="validationValidInput1">ابعاد</label>
                  <input type="text" class="form-control is-valid" id="id_title" name="dimentions" value="{{ form.dimentions.value }}"
                    placeholder="">
                </div>  
                <div class="col-md-4 mb-3">
                  <label for="validationValidInput1">قیمت</label>
                  <input type="text" class="form-control is-valid" id="validationValidInput1" name="price"
                    value="{{ form.price.value }}" placeholder="">
                </div>
                <div class="col-md-2 mb-3">
                  <label for="validationValidInput1">درصد تخفیف</label>
                  <input type="text" class="form-control is-valid" i126,000,365d="validationValidInput1"
                    name="discount_percent" value="{{ form.discount_percent.value }}" placeholder="">
                </div>
                <div class="col-md-6 mb-3">
                  <label for="validationValidSelect1">برند</label>
                  {{ form.brand }}
                  <span class="valid-feedback">Valid feedback</span>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="validationValidSelect1">عکس</label>
                  {{ form.image }}
                  <span class="valid-feedback">Valid feedback</span>
                </div>
                   <div class="col-md-6 mb-3">
                  <label for="validationValidSelect1">دسته بندی</label>
                  {{ form.category }}
                  <span class="valid-feedback">Valid feedback</span>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="validationValidSelect1">جنس</label>
                  {{ form.material }}
                  <span class="valid-feedback">Valid feedback</span>
                </div>
                
                <div class="col-md-6 mb-3">
                  <label for="validationValidSelect1">رنگ</label>
                  {{ form.color }}
                  <span class="valid-feedback">Valid feedback</span>
                </div>
                
      
                <div class="col-md-6 mb-3" style="width: 100%;
        text-align: center;">
                  <label for="validationValidSelect1">توضیحات </label>
                  
                  <script src="https://cdn.ckeditor.com/ckeditor5/41.0.0/classic/ckeditor.js"></script>

    <textarea name="description" id="editor">{{ form.description.value|safe }}</textarea>

      
                </div>
                </div>
      
              
                <div class="card-footer">
                  <div class=" d-flex pt-5 justify-content-end">
                    <a class="btn btn-secondary ms-3" href="{% url 'dashboard:dash_admin:product-list' %}">بازگشت</a>
                    <button type="submit" class="btn btn-primary ms-3">ثبت تغییرات</button>
                  </form>
                </div>
               </div>
      </div>
      
      </div>
      
      
      
      </div>
      </div>
      
      
      <div class="card mt-5 ">
        <!-- Header -->
        <div class="card-header border-bottom">
          <h5 class="card-header-title ">ویرایش تصاویر محصول</h5>
          {% if object.status == 1%}
            <a class="btn btn-sm btn-icon btn-ghost-primary" style="float: left;margin-top: -2rem;"
              href="#"><i class="bi-eye"></i></a>
          {% endif %}
        </div>
        <!-- End Header -->
      
        <!-- Body -->
        <div class="card-body">
          <div class="d-flex flex-wrap">
            {% for image in extra_picture %}
              {% if image.product == object %}
                <div class="swiper-slide col-md-2 mt-2">
                  <a class="avatar avatar-circle" href="">
                    <img class="avatar-img"  src="{{ image.file.url }}" alt="Image Description">
      
                    <form action="#" method="post">
                      {% csrf_token %}
                      <button class="btn btn-icon" type="submit"><i class="bi bi-trash3"></i></button>
      
                    </form>
                  </a>
                </div>
              {% endif %}
            {% endfor %}
            <a class="btn btn-ghost-primary  avatar-circle mt-2" style="padding-top: 14px;" href="#">
              <i class="bi bi-folder-plus" style="font-size: 17px;"></i></a>
          </div>
        
      </div>
      </div>
      
</div>


{% endblock %}



{% block extra_js %}
<!-- ========== END SECONDARY CONTENTS ========== -->

<!-- JS Implementing Plugins -->
<script src="{% static 'js/tiny-slider.js' %}"></script>

<!-- JS Front -->
<script src="{% static 'js/custome.js' %}"></script>
<script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

<script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.4.0/purify.min.js"></script>
<script>
    ClassicEditor
      .create(document.querySelector('#editor'))
      .catch(error => {
        console.error(error);
      });
  </script>

{% endblock extra_js %}

{% block extra_js_no_compress %}
{% endblock extra_js_no_compress %}